In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
data = yf.download(tickers="AAPL", start="2024-01-01", end="2024-12-31")
data.head()

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\725760442.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers="AAPL", start="2024-01-01", end="2024-12-31")
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  184.290405  187.070052  182.553128  185.789422  82488700
2024-01-03  182.910522  184.528677  182.096477  182.880742  58414500
2024-01-04  180.587555  181.758969  179.565044  180.825800  71983600
2024-01-05  179.862823  181.431339  178.860172  180.666948  62303300
2024-01-08  184.210999  184.250716  180.180517  180.766224  59144500

In [3]:
def fetch_historical_data(tickers, start_date, end_date):
    data = yf.download(tickers=tickers, start=start_date, end=end_date)
    return data

tickers = ["AAPL", "MSFT", "GOOGL", "AMZN", "META", "TSLA"]
start_date = '2024-05-01'
end_date = '2024-06-20'

df = fetch_historical_data(tickers, start_date, end_date)
df.head()

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\548747055.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers=tickers, start=start_date, end=end_date)
[*********************100%***********************]  5 of 6 completed

1 Failed download:
['AAPL']: Timeout('Failed to perform, curl: (28) Operation timed out after 10003 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.')

Price      Adj Close Close                                                  \
Ticker          AAPL  AAPL        AMZN       GOOGL        META        MSFT
Date
2024-05-01       NaN   NaN  179.000000  162.883118  437.257202  391.229401
2024-05-02       NaN   NaN  184.720001  165.626694  439.736176  394.102112
2024-05-03       NaN   NaN  186.210007  166.242996  449.970947  402.839264
2024-05-06       NaN   NaN  188.699997  167.097855  463.630615  409.654633
2024-05-07       NaN   NaN  188.759995  170.229080  466.179321  405.494080

Price                  High                          ...        Open  \
Ticker            TSLA AAPL        AMZN       GOOGL  ...       GOOGL
Date                                                 ...
2024-05-01  179.990005  NaN  185.149994  166.123677  ...  163.320497
2024-05-02  180.009995  NaN  185.100006  165.736039  ...  163.807601
2024-05-03  181.190002  NaN  187.869995  166.958705  ...  166.561081
2024-05-06  184.759995  NaN  188.750000  167.137609  ...  166.461671
2024-05-07  177.809998  NaN  189.940002  170.736034  ...  167.495475

Price                                          Volume                      \
Ticker            META        MSFT        TSLA   AAPL      AMZN     GOOGL
Date
2024-05-01  426.713811  388.921275  182.000000    NaN  94645100  33493200
2024-05-02  436.908678  393.923810  182.860001    NaN  54303500  24294500
2024-05-03  443.967486  398.500411  182.100006    NaN  39172000  34662400
2024-05-06  453.575058  404.919544  183.800003    NaN  34725300  21871300
2024-05-07  464.237921  410.764103  182.399994    NaN  34048900  28039700

Price
Ticker          META      MSFT      TSLA
Date
2024-05-01  20344900  23562500  92829700
2024-05-02  15221300  17709400  89148000
2024-05-03  16489100  17446700  75491500
2024-05-06  15094600  16996600  84390300
2024-05-07  13406800  20018200  75045900

[5 rows x 31 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34 entries, 2024-05-01 to 2024-06-18
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  0 non-null      float64
 1   (Close, AAPL)      0 non-null      float64
 2   (Close, AMZN)      34 non-null     float64
 3   (Close, GOOGL)     34 non-null     float64
 4   (Close, META)      34 non-null     float64
 5   (Close, MSFT)      34 non-null     float64
 6   (Close, TSLA)      34 non-null     float64
 7   (High, AAPL)       0 non-null      float64
 8   (High, AMZN)       34 non-null     float64
 9   (High, GOOGL)      34 non-null     float64
 10  (High, META)       34 non-null     float64
 11  (High, MSFT)       34 non-null     float64
 12  (High, TSLA)       34 non-null     float64
 13  (Low, AAPL)        0 non-null      float64
 14  (Low, AMZN)        34 non-null     float64
 15  (Low, GOOGL)       34 non-null     float64
 16  (Low, META)        34 non-null     float64
 17  (Low, MSFT)        34 non-null     float64
 18  (Low, TSLA)        34 non-null     float64
 19  (Open, AAPL)       0 non-null      float64
 20  (Open, AMZN)       34 non-null     float64
 21  (Open, GOOGL)      34 non-null     float64
 22  (Open, META)       34 non-null     float64
 23  (Open, MSFT)       34 non-null     float64
 24  (Open, TSLA)       34 non-null     float64
 25  (Volume, AAPL)     0 non-null      float64
 26  (Volume, AMZN)     34 non-null     int64
 27  (Volume, GOOGL)    34 non-null     int64
 28  (Volume, META)     34 non-null     int64
 29  (Volume, MSFT)     34 non-null     int64
 30  (Volume, TSLA)     34 non-null     int64
dtypes: float64(26), int64(5)
memory usage: 8.5 KB

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
# Multi-index-list

m_index = [("AAPL", 1), ("TSLA", 2), ("MSFT", 3), ("META", 4), ("IOCL", 5)]
m_series = pd.Series([100, 200, 300, 400, 500], index = m_index)
print(m_series)

(AAPL, 1)    100
(TSLA, 2)    200
(MSFT, 3)    300
(META, 4)    400
(IOCL, 5)    500
dtype: int64

In [7]:
print(m_series[("AAPL", 1)])

100

In [8]:
m_index = [("AAPL", 1), ("TSLA", 2), ("MSFT", 3), ("META", 4), ("IOCL", 5)]
m_df = pd.DataFrame([100, 200, 300, 400, 500], index = m_index)
print(m_df)
print(m_df.iloc[0, 0])

             0
(AAPL, 1)  100
(TSLA, 2)  200
(MSFT, 3)  300
(META, 4)  400
(IOCL, 5)  500
100

In [9]:
t_index = pd.MultiIndex.from_tuples(m_index)
print(t_index.levels)
print(t_index.levels[0])

[['AAPL', 'IOCL', 'META', 'MSFT', 'TSLA'], [1, 2, 3, 4, 5]]
Index(['AAPL', 'IOCL', 'META', 'MSFT', 'TSLA'], dtype='object')

In [10]:
p_index = [["TSLA", "MSFT", "META"], [100, 200]]
p_index = pd.MultiIndex.from_product(p_index)
print(p_index.levels)
print(p_index.levels[0])

[['META', 'MSFT', 'TSLA'], [100, 200]]
Index(['META', 'MSFT', 'TSLA'], dtype='object')

In [11]:
m_series = pd.Series([100, 200, 300, 400, 500], index=t_index)
print(m_series)
print(m_series["AAPL"])
print(m_series.iloc[0])
print(m_series.unstack())
print(m_series.unstack().stack())

[*********************100%***********************]  5 of 6 completed

AAPL  1    100
TSLA  2    200
MSFT  3    300
META  4    400
IOCL  5    500
dtype: int64
1    100
dtype: int64
100
          1      2      3      4      5
AAPL  100.0    NaN    NaN    NaN    NaN
IOCL    NaN    NaN    NaN    NaN  500.0
META    NaN    NaN    NaN  400.0    NaN
MSFT    NaN    NaN  300.0    NaN    NaN
TSLA    NaN  200.0    NaN    NaN    NaN
AAPL  1    100.0
IOCL  5    500.0
META  4    400.0
MSFT  3    300.0
TSLA  2    200.0
dtype: float64

In [12]:
m_df = pd.DataFrame([100, 200, 300, 400, 500], index=t_index)
print(m_df)
print(m_df.loc["AAPL", 0])
print(m_df.unstack())
print(m_df.unstack().stack())

          0
AAPL 1  100
TSLA 2  200
MSFT 3  300
META 4  400
IOCL 5  500
1    100
Name: 0, dtype: int64
          0
          1      2      3      4      5
AAPL  100.0    NaN    NaN    NaN    NaN
IOCL    NaN    NaN    NaN    NaN  500.0
META    NaN    NaN    NaN  400.0    NaN
MSFT    NaN    NaN  300.0    NaN    NaN
TSLA    NaN  200.0    NaN    NaN    NaN
            0
AAPL 1  100.0
IOCL 5  500.0
META 4  400.0
MSFT 3  300.0
TSLA 2  200.0

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\3762184798.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  print(m_df.unstack().stack())

In [13]:
print(df.head())
print(df.shape)
print("\n")
print(df.unstack())
print("\n")
print(df.stack())

Price      Adj Close Close                                                  \
Ticker          AAPL  AAPL        AMZN       GOOGL        META        MSFT
Date
2024-05-01       NaN   NaN  179.000000  162.883118  437.257202  391.229401
2024-05-02       NaN   NaN  184.720001  165.626694  439.736176  394.102112
2024-05-03       NaN   NaN  186.210007  166.242996  449.970947  402.839264
2024-05-06       NaN   NaN  188.699997  167.097855  463.630615  409.654633
2024-05-07       NaN   NaN  188.759995  170.229080  466.179321  405.494080

Price                  High                          ...        Open  \
Ticker            TSLA AAPL        AMZN       GOOGL  ...       GOOGL
Date                                                 ...
2024-05-01  179.990005  NaN  185.149994  166.123677  ...  163.320497
2024-05-02  180.009995  NaN  185.100006  165.736039  ...  163.807601
2024-05-03  181.190002  NaN  187.869995  166.958705  ...  166.561081
2024-05-06  184.759995  NaN  188.750000  167.137609  ...  166.461671
2024-05-07  177.809998  NaN  189.940002  170.736034  ...  167.495475

Price                                          Volume                      \
Ticker            META        MSFT        TSLA   AAPL      AMZN     GOOGL
Date
2024-05-01  426.713811  388.921275  182.000000    NaN  94645100  33493200
2024-05-02  436.908678  393.923810  182.860001    NaN  54303500  24294500
2024-05-03  443.967486  398.500411  182.100006    NaN  39172000  34662400
2024-05-06  453.575058  404.919544  183.800003    NaN  34725300  21871300
2024-05-07  464.237921  410.764103  182.399994    NaN  34048900  28039700

Price
Ticker          META      MSFT      TSLA
Date
2024-05-01  20344900  23562500  92829700
2024-05-02  15221300  17709400  89148000
2024-05-03  16489100  17446700  75491500
2024-05-06  15094600  16996600  84390300
2024-05-07  13406800  20018200  75045900

[5 rows x 31 columns]
(34, 31)


Price      Ticker  Date
Adj Close  AAPL    2024-05-01            NaN
                   2024-05-02            NaN
                   2024-05-03            NaN
                   2024-05-06            NaN
                   2024-05-07            NaN
                                    ...
Volume     TSLA    2024-06-12     90389400.0
                   2024-06-13    118984100.0
                   2024-06-14     82038200.0
                   2024-06-17    109786100.0
                   2024-06-18     68982300.0
Length: 1054, dtype: float64


Price              Adj Close       Close        High         Low        Open  \
Date       Ticker
2024-05-01 AMZN          NaN  179.000000  185.149994  176.559998  181.639999
           GOOGL         NaN  162.883118  166.123677  162.117704  163.320497
           META          NaN  437.257202  447.979794  425.230347  426.713811
           MSFT          NaN  391.229401  397.945699  386.642896  388.921275
           TSLA          NaN  179.990005  185.860001  179.009995  182.000000
...                      ...         ...         ...         ...         ...
2024-06-18 AMZN          NaN  182.809998  184.289993  181.429993  183.740005
           GOOGL         NaN  174.245926  176.534841  173.260708  176.286046
           META          NaN  497.785522  504.273317  493.330775  502.838229
           MSFT          NaN  442.943970  446.715075  441.505020  446.288324
           TSLA          NaN  184.860001  187.199997  182.369995  186.559998

Price                  Volume
Date       Ticker
2024-05-01 AMZN    94645100.0
           GOOGL   33493200.0
           META    20344900.0
           MSFT    23562500.0
           TSLA    92829700.0
...                       ...
2024-06-18 AMZN    36659200.0
           GOOGL   21869900.0
           META    13060400.0
           MSFT    17112500.0
           TSLA    68982300.0

[170 rows x 6 columns]

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\1341527547.py:6: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  print(df.stack())

In [14]:
print(df.shape)
print(df.head())
print("\n")
stacked_df = df.stack()
print(stacked_df.head())
print(stacked_df.shape)

print("\n")
double_stacked_df = df.stack().stack()
print(double_stacked_df.head())
print(double_stacked_df.shape)

(34, 31)
Price      Adj Close Close                                                  \
Ticker          AAPL  AAPL        AMZN       GOOGL        META        MSFT
Date
2024-05-01       NaN   NaN  179.000000  162.883118  437.257202  391.229401
2024-05-02       NaN   NaN  184.720001  165.626694  439.736176  394.102112
2024-05-03       NaN   NaN  186.210007  166.242996  449.970947  402.839264
2024-05-06       NaN   NaN  188.699997  167.097855  463.630615  409.654633
2024-05-07       NaN   NaN  188.759995  170.229080  466.179321  405.494080

Price                  High                          ...        Open  \
Ticker            TSLA AAPL        AMZN       GOOGL  ...       GOOGL
Date                                                 ...
2024-05-01  179.990005  NaN  185.149994  166.123677  ...  163.320497
2024-05-02  180.009995  NaN  185.100006  165.736039  ...  163.807601
2024-05-03  181.190002  NaN  187.869995  166.958705  ...  166.561081
2024-05-06  184.759995  NaN  188.750000  167.137609  ...  166.461671
2024-05-07  177.809998  NaN  189.940002  170.736034  ...  167.495475

Price                                          Volume                      \
Ticker            META        MSFT        TSLA   AAPL      AMZN     GOOGL
Date
2024-05-01  426.713811  388.921275  182.000000    NaN  94645100  33493200
2024-05-02  436.908678  393.923810  182.860001    NaN  54303500  24294500
2024-05-03  443.967486  398.500411  182.100006    NaN  39172000  34662400
2024-05-06  453.575058  404.919544  183.800003    NaN  34725300  21871300
2024-05-07  464.237921  410.764103  182.399994    NaN  34048900  28039700

Price
Ticker          META      MSFT      TSLA
Date
2024-05-01  20344900  23562500  92829700
2024-05-02  15221300  17709400  89148000
2024-05-03  16489100  17446700  75491500
2024-05-06  15094600  16996600  84390300
2024-05-07  13406800  20018200  75045900

[5 rows x 31 columns]


Price              Adj Close       Close        High         Low        Open  \
Date       Ticker
2024-05-01 AMZN          NaN  179.000000  185.149994  176.559998  181.639999
           GOOGL         NaN  162.883118  166.123677  162.117704  163.320497
           META          NaN  437.257202  447.979794  425.230347  426.713811
           MSFT          NaN  391.229401  397.945699  386.642896  388.921275
           TSLA          NaN  179.990005  185.860001  179.009995  182.000000

Price                  Volume
Date       Ticker
2024-05-01 AMZN    94645100.0
           GOOGL   33493200.0
           META    20344900.0
           MSFT    23562500.0
           TSLA    92829700.0
(170, 6)


Date        Ticker  Price
2024-05-01  AMZN    Close     1.790000e+02
                    High      1.851500e+02
                    Low       1.765600e+02
                    Open      1.816400e+02
                    Volume    9.464510e+07
dtype: float64
(850,)

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\819982080.py:4: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked_df = df.stack()
C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\819982080.py:9: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  double_stacked_df = df.stack().stack()

In [15]:
print(df.iloc[0:5])

Price      Adj Close Close                                                  \
Ticker          AAPL  AAPL        AMZN       GOOGL        META        MSFT
Date
2024-05-01       NaN   NaN  179.000000  162.883118  437.257202  391.229401
2024-05-02       NaN   NaN  184.720001  165.626694  439.736176  394.102112
2024-05-03       NaN   NaN  186.210007  166.242996  449.970947  402.839264
2024-05-06       NaN   NaN  188.699997  167.097855  463.630615  409.654633
2024-05-07       NaN   NaN  188.759995  170.229080  466.179321  405.494080

Price                  High                          ...        Open  \
Ticker            TSLA AAPL        AMZN       GOOGL  ...       GOOGL
Date                                                 ...
2024-05-01  179.990005  NaN  185.149994  166.123677  ...  163.320497
2024-05-02  180.009995  NaN  185.100006  165.736039  ...  163.807601
2024-05-03  181.190002  NaN  187.869995  166.958705  ...  166.561081
2024-05-06  184.759995  NaN  188.750000  167.137609  ...  166.461671
2024-05-07  177.809998  NaN  189.940002  170.736034  ...  167.495475

Price                                          Volume                      \
Ticker            META        MSFT        TSLA   AAPL      AMZN     GOOGL
Date
2024-05-01  426.713811  388.921275  182.000000    NaN  94645100  33493200
2024-05-02  436.908678  393.923810  182.860001    NaN  54303500  24294500
2024-05-03  443.967486  398.500411  182.100006    NaN  39172000  34662400
2024-05-06  453.575058  404.919544  183.800003    NaN  34725300  21871300
2024-05-07  464.237921  410.764103  182.399994    NaN  34048900  28039700

Price
Ticker          META      MSFT      TSLA
Date
2024-05-01  20344900  23562500  92829700
2024-05-02  15221300  17709400  89148000
2024-05-03  16489100  17446700  75491500
2024-05-06  15094600  16996600  84390300
2024-05-07  13406800  20018200  75045900

[5 rows x 31 columns]

In [16]:
print(stacked_df.iloc[0:10:2])

Price              Adj Close       Close        High         Low        Open  \
Date       Ticker
2024-05-01 AMZN          NaN  179.000000  185.149994  176.559998  181.639999
           META          NaN  437.257202  447.979794  425.230347  426.713811
           TSLA          NaN  179.990005  185.860001  179.009995  182.000000
2024-05-02 GOOGL         NaN  165.626694  165.736039  162.912973  163.807601
           MSFT          NaN  394.102112  396.172472  390.942081  393.923810

Price                  Volume
Date       Ticker
2024-05-01 AMZN    94645100.0
           META    20344900.0
           TSLA    92829700.0
2024-05-02 GOOGL   24294500.0
           MSFT    17709400.0

In [17]:
print(df["Close"])

Ticker      AAPL        AMZN       GOOGL        META        MSFT        TSLA
Date
2024-05-01   NaN  179.000000  162.883118  437.257202  391.229401  179.990005
2024-05-02   NaN  184.720001  165.626694  439.736176  394.102112  180.009995
2024-05-03   NaN  186.210007  166.242996  449.970947  402.839264  181.190002
2024-05-06   NaN  188.699997  167.097855  463.630615  409.654633  184.759995
2024-05-07   NaN  188.759995  170.229080  466.179321  405.494080  177.809998
2024-05-08   NaN  188.000000  168.370239  470.520081  406.682770  174.720001
2024-05-09   NaN  189.500000  168.946777  473.327698  408.446106  171.970001
2024-05-10   NaN  187.479996  167.644562  474.104309  410.843353  168.470001
2024-05-13   NaN  186.570007  168.131668  465.950348  409.832916  171.889999
2024-05-14   NaN  187.070007  169.324493  469.773438  412.646271  177.550003
2024-05-15   NaN  185.990005  171.481552  479.420776  419.860931  173.990005
2024-05-16   NaN  183.630005  173.141602  471.147369  417.786835  174.839996
2024-05-17   NaN  184.699997  175.010406  469.833191  417.012787  177.460007
2024-05-20   NaN  183.539993  175.865280  466.776672  422.103760  174.949997
2024-05-21   NaN  183.149994  176.789734  462.585205  425.775574  186.600006
2024-05-22   NaN  183.130005  175.328491  465.721313  427.244324  180.110001
2024-05-23   NaN  181.050003  172.515366  463.730164  423.751099  173.740005
2024-05-24   NaN  180.750000  173.946777  476.115417  426.887054  179.240005
2024-05-28   NaN  182.149994  175.348389  477.807953  427.045868  176.750000
2024-05-29   NaN  182.020004  174.851349  472.272369  425.904633  176.190002
2024-05-30   NaN  179.320007  171.083954  464.994568  411.514954  178.789993
2024-05-31   NaN  176.440002  171.471634  464.775513  411.971466  178.080002
2024-06-03   NaN  178.339996  172.137634  475.388580  410.373688  176.289993
2024-06-04   NaN  179.339996  172.753952  474.890808  412.904297  174.770004
2024-06-05   NaN  181.279999  174.364288  492.881256  420.783875  175.000000
2024-06-06   NaN  185.000000  175.676407  491.587036  421.289978  177.940002
2024-06-07   NaN  184.300003  173.419952  490.790527  420.625092  177.479996
2024-06-10   NaN  187.059998  174.166321  500.388123  424.614502  173.789993
2024-06-11   NaN  187.229996  175.768555  505.236664  429.387909  170.660004
2024-06-12   NaN  186.889999  176.932938  506.600647  437.704132  177.289993
2024-06-13   NaN  183.830002  174.315613  501.881531  438.220184  182.470001
2024-06-14   NaN  183.660004  175.937729  502.439606  439.202667  178.009995
2024-06-17   NaN  184.059998  176.385574  504.901184  444.958557  187.440002
2024-06-18   NaN  182.809998  174.245926  497.785522  442.943970  184.860001

In [18]:
print(df[["Close", "Open"]])

Price      Close                                                              \
Ticker      AAPL        AMZN       GOOGL        META        MSFT        TSLA
Date
2024-05-01   NaN  179.000000  162.883118  437.257202  391.229401  179.990005
2024-05-02   NaN  184.720001  165.626694  439.736176  394.102112  180.009995
2024-05-03   NaN  186.210007  166.242996  449.970947  402.839264  181.190002
2024-05-06   NaN  188.699997  167.097855  463.630615  409.654633  184.759995
2024-05-07   NaN  188.759995  170.229080  466.179321  405.494080  177.809998
2024-05-08   NaN  188.000000  168.370239  470.520081  406.682770  174.720001
2024-05-09   NaN  189.500000  168.946777  473.327698  408.446106  171.970001
2024-05-10   NaN  187.479996  167.644562  474.104309  410.843353  168.470001
2024-05-13   NaN  186.570007  168.131668  465.950348  409.832916  171.889999
2024-05-14   NaN  187.070007  169.324493  469.773438  412.646271  177.550003
2024-05-15   NaN  185.990005  171.481552  479.420776  419.860931  173.990005
2024-05-16   NaN  183.630005  173.141602  471.147369  417.786835  174.839996
2024-05-17   NaN  184.699997  175.010406  469.833191  417.012787  177.460007
2024-05-20   NaN  183.539993  175.865280  466.776672  422.103760  174.949997
2024-05-21   NaN  183.149994  176.789734  462.585205  425.775574  186.600006
2024-05-22   NaN  183.130005  175.328491  465.721313  427.244324  180.110001
2024-05-23   NaN  181.050003  172.515366  463.730164  423.751099  173.740005
2024-05-24   NaN  180.750000  173.946777  476.115417  426.887054  179.240005
2024-05-28   NaN  182.149994  175.348389  477.807953  427.045868  176.750000
2024-05-29   NaN  182.020004  174.851349  472.272369  425.904633  176.190002
2024-05-30   NaN  179.320007  171.083954  464.994568  411.514954  178.789993
2024-05-31   NaN  176.440002  171.471634  464.775513  411.971466  178.080002
2024-06-03   NaN  178.339996  172.137634  475.388580  410.373688  176.289993
2024-06-04   NaN  179.339996  172.753952  474.890808  412.904297  174.770004
2024-06-05   NaN  181.279999  174.364288  492.881256  420.783875  175.000000
2024-06-06   NaN  185.000000  175.676407  491.587036  421.289978  177.940002
2024-06-07   NaN  184.300003  173.419952  490.790527  420.625092  177.479996
2024-06-10   NaN  187.059998  174.166321  500.388123  424.614502  173.789993
2024-06-11   NaN  187.229996  175.768555  505.236664  429.387909  170.660004
2024-06-12   NaN  186.889999  176.932938  506.600647  437.704132  177.289993
2024-06-13   NaN  183.830002  174.315613  501.881531  438.220184  182.470001
2024-06-14   NaN  183.660004  175.937729  502.439606  439.202667  178.009995
2024-06-17   NaN  184.059998  176.385574  504.901184  444.958557  187.440002
2024-06-18   NaN  182.809998  174.245926  497.785522  442.943970  184.860001

Price      Open
Ticker     AAPL        AMZN       GOOGL        META        MSFT        TSLA
Date
2024-05-01  NaN  181.639999  163.320497  426.713811  388.921275  182.000000
2024-05-02  NaN  180.850006  163.807601  436.908678  393.923810  182.860001
2024-05-03  NaN  186.990005  166.561081  443.967486  398.500411  182.100006
2024-05-06  NaN  186.279999  166.461671  453.575058  404.919544  183.800003
2024-05-07  NaN  188.919998  167.495475  464.237921  410.764103  182.399994
2024-05-08  NaN  187.440002  167.992500  461.460124  404.335042  171.589996
2024-05-09  NaN  188.880005  168.380168  467.931538  406.712548  175.009995
2024-05-10  NaN  189.160004  167.028263  474.990376  409.060277  173.050003
2024-05-13  NaN  188.000000  163.280755  470.669478  414.082618  170.000000
2024-05-14  NaN  183.820007  168.757899  461.330746  408.148917  174.500000
2024-05-15  NaN  185.970001  169.612770  472.889649  414.720351  179.899994
2024-05-16  NaN  185.600006  172.256908  472.909569  418.590669  174.100006
2024-05-17  NaN  183.759995  173.141609  468.757927  419.325076  173.550003
2024-05-20  NaN  184.339996  175.139636  467.881803  417.012787  177.559998
2024-05-21  NaN  182.300003  175.845385  465.064237  423.582367  175.509995
2024-05-22  NaN  183.880005  175.586936  465.810914  426.817603  182.850006
2024-05-23  NaN  183.660004  176.014385  470.798924  429.675676  181.800003
2024-05-24  NaN  181.649994  173.936827  465.562061  423.939651  174.839996
2024-05-28  NaN  179.929993  173.410017  474.482625  426.361115  176.399994
2024-05-29  NaN  181.699997  174.384150  472.571067  422.451100  174.190002
2024-05-30  NaN  181.309998  174.155529  469.594261  421.071657  178.580002
2024-05-31  NaN  178.300003  170.835450  463.750047  413.579135  178.500000
2024-06-03  NaN  177.699997  171.511385  468.787754  412.368404  178.130005
2024-06-04  NaN  177.639999  172.246998  474.900774  409.291978  174.779999
2024-06-05  NaN  180.100006  174.155534  482.317965  414.631036  175.350006
2024-06-06  NaN  181.750000  174.851353  490.810470  420.783879  174.600006
2024-06-07  NaN  184.899994  175.994508  493.727557  422.957217  176.130005
2024-06-10  NaN  184.070007  174.126520  491.686566  421.468638  176.059998
2024-06-11  NaN  187.059998  175.370489  497.958837  422.242709  173.919998
2024-06-12  NaN  188.020004  177.390727  511.727976  432.007815  171.119995
2024-06-13  NaN  186.089996  175.261030  503.484431  437.495758  188.389999
2024-06-14  NaN  183.080002  173.380126  500.934749  434.945300  185.800003
2024-06-17  NaN  182.520004  174.614157  499.958118  439.222536  177.919998
2024-06-18  NaN  183.740005  176.286046  502.838229  446.288324  186.559998

In [19]:
print(df[("Close", "TSLA")])

Date
2024-05-01    179.990005
2024-05-02    180.009995
2024-05-03    181.190002
2024-05-06    184.759995
2024-05-07    177.809998
2024-05-08    174.720001
2024-05-09    171.970001
2024-05-10    168.470001
2024-05-13    171.889999
2024-05-14    177.550003
2024-05-15    173.990005
2024-05-16    174.839996
2024-05-17    177.460007
2024-05-20    174.949997
2024-05-21    186.600006
2024-05-22    180.110001
2024-05-23    173.740005
2024-05-24    179.240005
2024-05-28    176.750000
2024-05-29    176.190002
2024-05-30    178.789993
2024-05-31    178.080002
2024-06-03    176.289993
2024-06-04    174.770004
2024-06-05    175.000000
2024-06-06    177.940002
2024-06-07    177.479996
2024-06-10    173.789993
2024-06-11    170.660004
2024-06-12    177.289993
2024-06-13    182.470001
2024-06-14    178.009995
2024-06-17    187.440002
2024-06-18    184.860001
Name: (Close, TSLA), dtype: float64

In [20]:
df.iloc[3, 7]

nan

In [21]:
df.iloc[1, [5, 6, 7]]

Price  Ticker
Close  MSFT      394.102112
       TSLA      180.009995
High   AAPL             NaN
Name: 2024-05-02 00:00:00, dtype: float64

In [22]:
df.stack().sort_index(ascending=[False, True])

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_9584\1285398100.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack().sort_index(ascending=[False, True])

Price              Adj Close       Close        High         Low        Open  \
Date       Ticker
2024-06-18 AMZN          NaN  182.809998  184.289993  181.429993  183.740005
           GOOGL         NaN  174.245926  176.534841  173.260708  176.286046
           META          NaN  497.785522  504.273317  493.330775  502.838229
           MSFT          NaN  442.943970  446.715075  441.505020  446.288324
           TSLA          NaN  184.860001  187.199997  182.369995  186.559998
...                      ...         ...         ...         ...         ...
2024-05-01 AMZN          NaN  179.000000  185.149994  176.559998  181.639999
           GOOGL         NaN  162.883118  166.123677  162.117704  163.320497
           META          NaN  437.257202  447.979794  425.230347  426.713811
           MSFT          NaN  391.229401  397.945699  386.642896  388.921275
           TSLA          NaN  179.990005  185.860001  179.009995  182.000000

Price                  Volume
Date       Ticker
2024-06-18 AMZN    36659200.0
           GOOGL   21869900.0
           META    13060400.0
           MSFT    17112500.0
           TSLA    68982300.0
...                       ...
2024-05-01 AMZN    94645100.0
           GOOGL   33493200.0
           META    20344900.0
           MSFT    23562500.0
           TSLA    92829700.0

[170 rows x 6 columns]

In [23]:
df.transpose()

Date                2024-05-01    2024-05-02    2024-05-03    2024-05-06  \
Price     Ticker
Adj Close AAPL             NaN           NaN           NaN           NaN
Close     AAPL             NaN           NaN           NaN           NaN
          AMZN    1.790000e+02  1.847200e+02  1.862100e+02  1.887000e+02
          GOOGL   1.628831e+02  1.656267e+02  1.662430e+02  1.670979e+02
          META    4.372572e+02  4.397362e+02  4.499709e+02  4.636306e+02
          MSFT    3.912294e+02  3.941021e+02  4.028393e+02  4.096546e+02
          TSLA    1.799900e+02  1.800100e+02  1.811900e+02  1.847600e+02
High      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.851500e+02  1.851000e+02  1.878700e+02  1.887500e+02
          GOOGL   1.661237e+02  1.657360e+02  1.669587e+02  1.671376e+02
          META    4.479798e+02  4.420061e+02  4.521712e+02  4.641085e+02
          MSFT    3.979457e+02  3.961725e+02  4.033247e+02  4.100410e+02
          TSLA    1.858600e+02  1.846000e+02  1.847800e+02  1.875600e+02
Low       AAPL             NaN           NaN           NaN           NaN
          AMZN    1.765600e+02  1.799100e+02  1.854200e+02  1.848000e+02
          GOOGL   1.621177e+02  1.629130e+02  1.620780e+02  1.650402e+02
          META    4.252303e+02  4.303776e+02  4.418967e+02  4.513449e+02
          MSFT    3.866429e+02  3.909421e+02  3.980843e+02  4.025520e+02
          TSLA    1.790100e+02  1.760200e+02  1.784200e+02  1.822000e+02
Open      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.816400e+02  1.808500e+02  1.869900e+02  1.862800e+02
          GOOGL   1.633205e+02  1.638076e+02  1.665611e+02  1.664617e+02
          META    4.267138e+02  4.369087e+02  4.439675e+02  4.535751e+02
          MSFT    3.889213e+02  3.939238e+02  3.985004e+02  4.049195e+02
          TSLA    1.820000e+02  1.828600e+02  1.821000e+02  1.838000e+02
Volume    AAPL             NaN           NaN           NaN           NaN
          AMZN    9.464510e+07  5.430350e+07  3.917200e+07  3.472530e+07
          GOOGL   3.349320e+07  2.429450e+07  3.466240e+07  2.187130e+07
          META    2.034490e+07  1.522130e+07  1.648910e+07  1.509460e+07
          MSFT    2.356250e+07  1.770940e+07  1.744670e+07  1.699660e+07
          TSLA    9.282970e+07  8.914800e+07  7.549150e+07  8.439030e+07

Date                2024-05-07    2024-05-08    2024-05-09    2024-05-10  \
Price     Ticker
Adj Close AAPL             NaN           NaN           NaN           NaN
Close     AAPL             NaN           NaN           NaN           NaN
          AMZN    1.887600e+02  1.880000e+02  1.895000e+02  1.874800e+02
          GOOGL   1.702291e+02  1.683702e+02  1.689468e+02  1.676446e+02
          META    4.661793e+02  4.705201e+02  4.733277e+02  4.741043e+02
          MSFT    4.054941e+02  4.066828e+02  4.084461e+02  4.108434e+02
          TSLA    1.778100e+02  1.747200e+02  1.719700e+02  1.684700e+02
High      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.899400e+02  1.884300e+02  1.917000e+02  1.898900e+02
          GOOGL   1.707360e+02  1.691356e+02  1.696724e+02  1.688374e+02
          META    4.694549e+02  4.734869e+02  4.739848e+02  4.753986e+02
          MSFT    4.107740e+02  4.083569e+02  4.088423e+02  4.114774e+02
          TSLA    1.832600e+02  1.760600e+02  1.756200e+02  1.730600e+02
Low       AAPL             NaN           NaN           NaN           NaN
          AMZN    1.873100e+02  1.863900e+02  1.874400e+02  1.869300e+02
          GOOGL   1.673861e+02  1.677341e+02  1.671774e+02  1.651992e+02
          META    4.592798e+02  4.609623e+02  4.655720e+02  4.675333e+02
          MSFT    4.052464e+02  4.028887e+02  4.052564e+02  4.079310e+02
          TSLA    1.774000e+02  1.701500e+02  1.713700e+02  1.677500e+02
Open      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.889200e+02  1.874400e+02  1.888800e+02  1.891600e+02
          GOOGL   1.674955e+02  1.679925e+02  1.683802e+02  1.670283e+02
          META    4.642379e+02  4.614601e+02  4.679315e+02  4.749904e+02
          MSFT    4.107641e+02  4.043350e+02  4.067125e+02  4.090603e+02
          TSLA    1.824000e+02  1.715900e+02  1.750100e+02  1.730500e+02
Volume    AAPL             NaN           NaN           NaN           NaN
          AMZN    3.404890e+07  2.613640e+07  4.336840e+07  3.414180e+07
          GOOGL   2.803970e+07  1.956910e+07  1.534670e+07  2.979990e+07
          META    1.340680e+07  1.168390e+07  9.437700e+06  1.075000e+07
          MSFT    2.001820e+07  1.179230e+07  1.468970e+07  1.340230e+07
          TSLA    7.504590e+07  7.996950e+07  6.595030e+07  7.262720e+07

Date                2024-05-13    2024-05-14  ...    2024-06-05    2024-06-06  \
Price     Ticker                              ...
Adj Close AAPL             NaN           NaN  ...           NaN           NaN
Close     AAPL             NaN           NaN  ...           NaN           NaN
          AMZN    1.865700e+02  1.870700e+02  ...  1.812800e+02  1.850000e+02
          GOOGL   1.681317e+02  1.693245e+02  ...  1.743643e+02  1.756764e+02
          META    4.659503e+02  4.697734e+02  ...  4.928813e+02  4.915870e+02
          MSFT    4.098329e+02  4.126463e+02  ...  4.207839e+02  4.212900e+02
          TSLA    1.718900e+02  1.775500e+02  ...  1.750000e+02  1.779400e+02
High      AAPL             NaN           NaN  ...           NaN           NaN
          AMZN    1.883100e+02  1.877200e+02  ...  1.815000e+02  1.850000e+02
          GOOGL   1.682708e+02  1.702291e+02  ...  1.755969e+02  1.760939e+02
          META    4.712668e+02  4.704604e+02  ...  4.944643e+02  5.006072e+02
          MSFT    4.144194e+02  4.135675e+02  ...  4.208533e+02  4.220740e+02
          TSLA    1.754000e+02  1.794900e+02  ...  1.761500e+02  1.797300e+02
Low       AAPL             NaN           NaN  ...           NaN           NaN
          AMZN    1.853600e+02  1.834500e+02  ...  1.787500e+02  1.814900e+02
          GOOGL   1.630223e+02  1.677937e+02  ...  1.728931e+02  1.747023e+02
          META    4.608131e+02  4.580552e+02  ...  4.817803e+02  4.887297e+02
          MSFT    4.069602e+02  4.076833e+02  ...  4.131325e+02  4.173800e+02
          TSLA    1.690000e+02  1.740700e+02  ...  1.721300e+02  1.727300e+02
Open      AAPL             NaN           NaN  ...           NaN           NaN
          AMZN    1.880000e+02  1.838200e+02  ...  1.801000e+02  1.817500e+02
          GOOGL   1.632808e+02  1.687579e+02  ...  1.741555e+02  1.748514e+02
          META    4.706695e+02  4.613307e+02  ...  4.823180e+02  4.908105e+02
          MSFT    4.140826e+02  4.081489e+02  ...  4.146310e+02  4.207839e+02
          TSLA    1.700000e+02  1.745000e+02  ...  1.753500e+02  1.746000e+02
Volume    AAPL             NaN           NaN  ...           NaN           NaN
          AMZN    2.489860e+07  3.869820e+07  ...  3.211640e+07  3.137120e+07
          GOOGL   3.132760e+07  2.512710e+07  ...  2.206850e+07  2.325100e+07
          META    1.466880e+07  1.047860e+07  ...  1.569050e+07  1.066730e+07
          MSFT    1.544020e+07  1.510930e+07  ...  1.698800e+07  1.486130e+07
          TSLA    6.701890e+07  8.640740e+07  ...  5.795380e+07  6.988700e+07

Date                2024-06-07    2024-06-10    2024-06-11    2024-06-12  \
Price     Ticker
Adj Close AAPL             NaN           NaN           NaN           NaN
Close     AAPL             NaN           NaN           NaN           NaN
          AMZN    1.843000e+02  1.870600e+02  1.872300e+02  1.868900e+02
          GOOGL   1.734200e+02  1.741663e+02  1.757686e+02  1.769329e+02
          META    4.907905e+02  5.003881e+02  5.052367e+02  5.066006e+02
          MSFT    4.206251e+02  4.246145e+02  4.293879e+02  4.377041e+02
          TSLA    1.774800e+02  1.737900e+02  1.706600e+02  1.772900e+02
High      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.862900e+02  1.872300e+02  1.877700e+02  1.883500e+02
          GOOGL   1.768096e+02  1.762064e+02  1.759875e+02  1.795403e+02
          META    4.967144e+02  5.004479e+02  5.053661e+02  5.117479e+02
          MSFT    4.230366e+02  4.248229e+02  4.295269e+02  4.400263e+02
          TSLA    1.793500e+02  1.785700e+02  1.747500e+02  1.805500e+02
Low       AAPL             NaN           NaN           NaN           NaN
          AMZN    1.833600e+02  1.837900e+02  1.845400e+02  1.854300e+02
          GOOGL   1.732609e+02  1.719272e+02  1.729323e+02  1.752610e+02
          META    4.880128e+02  4.912386e+02  4.960771e+02  5.022499e+02
          MSFT    4.197816e+02  4.206648e+02  4.220144e+02  4.299536e+02
          TSLA    1.755800e+02  1.731700e+02  1.674100e+02  1.698000e+02
Open      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.849000e+02  1.840700e+02  1.870600e+02  1.880200e+02
          GOOGL   1.759945e+02  1.741265e+02  1.753705e+02  1.773907e+02
          META    4.937276e+02  4.916866e+02  4.979588e+02  5.117280e+02
          MSFT    4.229572e+02  4.214686e+02  4.222427e+02  4.320078e+02
          TSLA    1.761300e+02  1.760600e+02  1.739200e+02  1.711200e+02
Volume    AAPL             NaN           NaN           NaN           NaN
          AMZN    2.802150e+07  3.449450e+07  2.726510e+07  3.398420e+07
          GOOGL   1.966140e+07  2.377920e+07  2.154060e+07  2.786470e+07
          META    9.380700e+06  1.123690e+07  9.673700e+06  1.198320e+07
          MSFT    1.362170e+07  1.400300e+07  1.455110e+07  2.236620e+07
          TSLA    5.624490e+07  5.086970e+07  6.476190e+07  9.038940e+07

Date                2024-06-13    2024-06-14    2024-06-17    2024-06-18
Price     Ticker
Adj Close AAPL             NaN           NaN           NaN           NaN
Close     AAPL             NaN           NaN           NaN           NaN
          AMZN    1.838300e+02  1.836600e+02  1.840600e+02  1.828100e+02
          GOOGL   1.743156e+02  1.759377e+02  1.763856e+02  1.742459e+02
          META    5.018815e+02  5.024396e+02  5.049012e+02  4.977855e+02
          MSFT    4.382202e+02  4.392027e+02  4.449586e+02  4.429440e+02
          TSLA    1.824700e+02  1.780100e+02  1.874400e+02  1.848600e+02
High      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.876700e+02  1.837200e+02  1.850000e+02  1.842900e+02
          GOOGL   1.758880e+02  1.762064e+02  1.775002e+02  1.765348e+02
          META    5.071184e+02  5.054194e+02  5.090071e+02  5.042733e+02
          MSFT    4.400164e+02  4.397683e+02  4.475090e+02  4.467151e+02
          TSLA    1.910800e+02  1.860000e+02  1.888100e+02  1.872000e+02
Low       AAPL             NaN           NaN           NaN           NaN
          AMZN    1.826700e+02  1.822300e+02  1.812200e+02  1.814300e+02
          GOOGL   1.740370e+02  1.733105e+02  1.739673e+02  1.732607e+02
          META    4.991536e+02  4.990412e+02  4.943174e+02  4.933308e+02
          MSFT    4.360270e+02  4.333972e+02  4.373668e+02  4.415050e+02
          TSLA    1.812300e+02  1.769200e+02  1.770000e+02  1.823700e+02
Open      AAPL             NaN           NaN           NaN           NaN
          AMZN    1.860900e+02  1.830800e+02  1.825200e+02  1.837400e+02
          GOOGL   1.752610e+02  1.733801e+02  1.746142e+02  1.762860e+02
          META    5.034844e+02  5.009347e+02  4.999581e+02  5.028382e+02
          MSFT    4.374958e+02  4.349453e+02  4.392225e+02  4.462883e+02
          TSLA    1.883900e+02  1.858000e+02  1.779200e+02  1.865600e+02
Volume    AAPL             NaN           NaN           NaN           NaN
          AMZN    3.972150e+07  2.545640e+07  3.560190e+07  3.665920e+07
          GOOGL   2.091330e+07  1.806360e+07  1.961850e+07  2.186990e+07
          META    9.954600e+06  1.024330e+07  1.126660e+07  1.306040e+07
          MSFT    1.596060e+07  1.358200e+07  2.079000e+07  1.711250e+07
          TSLA    1.189841e+08  8.203820e+07  1.097861e+08  6.898230e+07

[31 rows x 34 columns]

In [24]:
# swap level

df.swaplevel(axis=1)

Ticker          AAPL              AMZN       GOOGL        META        MSFT  \
Price      Adj Close Close       Close       Close       Close       Close
Date
2024-05-01       NaN   NaN  179.000000  162.883118  437.257202  391.229401
2024-05-02       NaN   NaN  184.720001  165.626694  439.736176  394.102112
2024-05-03       NaN   NaN  186.210007  166.242996  449.970947  402.839264
2024-05-06       NaN   NaN  188.699997  167.097855  463.630615  409.654633
2024-05-07       NaN   NaN  188.759995  170.229080  466.179321  405.494080
2024-05-08       NaN   NaN  188.000000  168.370239  470.520081  406.682770
2024-05-09       NaN   NaN  189.500000  168.946777  473.327698  408.446106
2024-05-10       NaN   NaN  187.479996  167.644562  474.104309  410.843353
2024-05-13       NaN   NaN  186.570007  168.131668  465.950348  409.832916
2024-05-14       NaN   NaN  187.070007  169.324493  469.773438  412.646271
2024-05-15       NaN   NaN  185.990005  171.481552  479.420776  419.860931
2024-05-16       NaN   NaN  183.630005  173.141602  471.147369  417.786835
2024-05-17       NaN   NaN  184.699997  175.010406  469.833191  417.012787
2024-05-20       NaN   NaN  183.539993  175.865280  466.776672  422.103760
2024-05-21       NaN   NaN  183.149994  176.789734  462.585205  425.775574
2024-05-22       NaN   NaN  183.130005  175.328491  465.721313  427.244324
2024-05-23       NaN   NaN  181.050003  172.515366  463.730164  423.751099
2024-05-24       NaN   NaN  180.750000  173.946777  476.115417  426.887054
2024-05-28       NaN   NaN  182.149994  175.348389  477.807953  427.045868
2024-05-29       NaN   NaN  182.020004  174.851349  472.272369  425.904633
2024-05-30       NaN   NaN  179.320007  171.083954  464.994568  411.514954
2024-05-31       NaN   NaN  176.440002  171.471634  464.775513  411.971466
2024-06-03       NaN   NaN  178.339996  172.137634  475.388580  410.373688
2024-06-04       NaN   NaN  179.339996  172.753952  474.890808  412.904297
2024-06-05       NaN   NaN  181.279999  174.364288  492.881256  420.783875
2024-06-06       NaN   NaN  185.000000  175.676407  491.587036  421.289978
2024-06-07       NaN   NaN  184.300003  173.419952  490.790527  420.625092
2024-06-10       NaN   NaN  187.059998  174.166321  500.388123  424.614502
2024-06-11       NaN   NaN  187.229996  175.768555  505.236664  429.387909
2024-06-12       NaN   NaN  186.889999  176.932938  506.600647  437.704132
2024-06-13       NaN   NaN  183.830002  174.315613  501.881531  438.220184
2024-06-14       NaN   NaN  183.660004  175.937729  502.439606  439.202667
2024-06-17       NaN   NaN  184.059998  176.385574  504.901184  444.958557
2024-06-18       NaN   NaN  182.809998  174.245926  497.785522  442.943970

Ticker            TSLA AAPL        AMZN       GOOGL  ...              \
Price            Close High        High        High  ...        Open
Date                                                 ...
2024-05-01  179.990005  NaN  185.149994  166.123677  ...  163.320497
2024-05-02  180.009995  NaN  185.100006  165.736039  ...  163.807601
2024-05-03  181.190002  NaN  187.869995  166.958705  ...  166.561081
2024-05-06  184.759995  NaN  188.750000  167.137609  ...  166.461671
2024-05-07  177.809998  NaN  189.940002  170.736034  ...  167.495475
2024-05-08  174.720001  NaN  188.429993  169.135638  ...  167.992500
2024-05-09  171.970001  NaN  191.699997  169.672421  ...  168.380168
2024-05-10  168.470001  NaN  189.889999  168.837420  ...  167.028263
2024-05-13  171.889999  NaN  188.309998  168.270833  ...  163.280755
2024-05-14  177.550003  NaN  187.720001  170.229072  ...  168.757899
2024-05-15  173.990005  NaN  186.720001  171.620717  ...  169.612770
2024-05-16  174.839996  NaN  187.309998  174.076000  ...  172.256908
2024-05-17  177.460007  NaN  185.300003  175.219161  ...  173.141609
2024-05-20  174.949997  NaN  186.669998  177.704257  ...  175.139636
2024-05-21  186.600006  NaN  183.259995  177.087933  ...  175.845385
2024-05-22  180.110001  NaN  185.220001  176.093890  ...  175.586936
2024-05-23  173.740005  NaN  184.759995  177.187343  ...  176.014385
2024-05-24  179.240005  NaN  182.440002  174.722126  ...  173.936827
2024-05-28  176.750000  NaN  182.240005  176.213212  ...  173.410017
2024-05-29  176.190002  NaN  184.080002  175.785747  ...  174.384150
2024-05-30  178.789993  NaN  181.339996  174.175414  ...  174.155529
2024-05-31  178.080002  NaN  179.210007  172.028293  ...  170.835450
2024-06-03  176.289993  NaN  178.699997  173.489527  ...  171.511385
2024-06-04  174.770004  NaN  179.820007  172.813607  ...  172.246998
2024-06-05  175.000000  NaN  181.500000  175.596886  ...  174.155534
2024-06-06  177.940002  NaN  185.000000  176.093901  ...  174.851353
2024-06-07  177.479996  NaN  186.289993  176.809612  ...  175.994508
2024-06-10  173.789993  NaN  187.229996  176.206441  ...  174.126520
2024-06-11  170.660004  NaN  187.770004  175.987495  ...  175.370489
2024-06-12  177.289993  NaN  188.350006  179.540318  ...  177.390727
2024-06-13  182.470001  NaN  187.669998  175.887998  ...  175.261030
2024-06-14  178.009995  NaN  183.720001  176.206432  ...  173.380126
2024-06-17  187.440002  NaN  185.000000  177.500170  ...  174.614157
2024-06-18  184.860001  NaN  184.289993  176.534841  ...  176.286046

Ticker            META        MSFT        TSLA   AAPL      AMZN     GOOGL  \
Price             Open        Open        Open Volume    Volume    Volume
Date
2024-05-01  426.713811  388.921275  182.000000    NaN  94645100  33493200
2024-05-02  436.908678  393.923810  182.860001    NaN  54303500  24294500
2024-05-03  443.967486  398.500411  182.100006    NaN  39172000  34662400
2024-05-06  453.575058  404.919544  183.800003    NaN  34725300  21871300
2024-05-07  464.237921  410.764103  182.399994    NaN  34048900  28039700
2024-05-08  461.460124  404.335042  171.589996    NaN  26136400  19569100
2024-05-09  467.931538  406.712548  175.009995    NaN  43368400  15346700
2024-05-10  474.990376  409.060277  173.050003    NaN  34141800  29799900
2024-05-13  470.669478  414.082618  170.000000    NaN  24898600  31327600
2024-05-14  461.330746  408.148917  174.500000    NaN  38698200  25127100
2024-05-15  472.889649  414.720351  179.899994    NaN  75459900  26948400
2024-05-16  472.909569  418.590669  174.100006    NaN  38834500  27867900
2024-05-17  468.757927  419.325076  173.550003    NaN  33175700  24479300
2024-05-20  467.881803  417.012787  177.559998    NaN  30511800  22554400
2024-05-21  465.064237  423.582367  175.509995    NaN  50839100  16989400
2024-05-22  465.810914  426.817603  182.850006    NaN  28148800  17880000
2024-05-23  470.798924  429.675676  181.800003    NaN  33670200  21024900
2024-05-24  465.562061  423.939651  174.839996    NaN  27434100  16572500
2024-05-28  474.482625  426.361115  176.399994    NaN  29927000  20572200
2024-05-29  472.571067  422.451100  174.190002    NaN  32009300  23388700
2024-05-30  469.594261  421.071657  178.580002    NaN  29249200  22958700
2024-05-31  463.750047  413.579135  178.500000    NaN  58903900  37638900
2024-06-03  468.787754  412.368404  178.130005    NaN  30786600  27459100
2024-06-04  474.900774  409.291978  174.779999    NaN  27198400  26879600
2024-06-05  482.317965  414.631036  175.350006    NaN  32116400  22068500
2024-06-06  490.810470  420.783879  174.600006    NaN  31371200  23251000
2024-06-07  493.727557  422.957217  176.130005    NaN  28021500  19661400
2024-06-10  491.686566  421.468638  176.059998    NaN  34494500  23779200
2024-06-11  497.958837  422.242709  173.919998    NaN  27265100  21540600
2024-06-12  511.727976  432.007815  171.119995    NaN  33984200  27864700
2024-06-13  503.484431  437.495758  188.389999    NaN  39721500  20913300
2024-06-14  500.934749  434.945300  185.800003    NaN  25456400  18063600
2024-06-17  499.958118  439.222536  177.919998    NaN  35601900  19618500
2024-06-18  502.838229  446.288324  186.559998    NaN  36659200  21869900

Ticker          META      MSFT       TSLA
Price         Volume    Volume     Volume
Date
2024-05-01  20344900  23562500   92829700
2024-05-02  15221300  17709400   89148000
2024-05-03  16489100  17446700   75491500
2024-05-06  15094600  16996600   84390300
2024-05-07  13406800  20018200   75045900
2024-05-08  11683900  11792300   79969500
2024-05-09   9437700  14689700   65950300
2024-05-10  10750000  13402300   72627200
2024-05-13  14668800  15440200   67018900
2024-05-14  10478600  15109300   86407400
2024-05-15  13100500  22239500   79663000
2024-05-16  16608200  17530100   59812200
2024-05-17  10807300  15352200   77445800
2024-05-20  11745100  16272100   61727400
2024-05-21  11742200  21453300  115266500
2024-05-22  10078600  18073700   88313500
2024-05-23  11747900  17211700   71975500
2024-05-24  12012300  11845800   65479700
2024-05-28  10175800  15718000   59736600
2024-05-29   9226200  15517100   54782600
2024-05-30  10735200  28424800   77784800
2024-05-31  16919800  47995300   67314600
2024-06-03  11279400  17484700   68568900
2024-06-04   7088700  14348900   60056300
2024-06-05  15690500  16988000   57953800
2024-06-06  10667300  14861300   69887000
2024-06-07   9380700  13621700   56244900
2024-06-10  11236900  14003000   50869700
2024-06-11   9673700  14551100   64761900
2024-06-12  11983200  22366200   90389400
2024-06-13   9954600  15960600  118984100
2024-06-14  10243300  13582000   82038200
2024-06-17  11266600  20790000  109786100
2024-06-18  13060400  17112500   68982300

[34 rows x 31 columns]

In [25]:
stacked_df.stack().swaplevel()

Date        Price   Ticker
2024-05-01  Close   AMZN      1.790000e+02
            High    AMZN      1.851500e+02
            Low     AMZN      1.765600e+02
            Open    AMZN      1.816400e+02
            Volume  AMZN      9.464510e+07
                                  ...
2024-06-18  Close   TSLA      1.848600e+02
            High    TSLA      1.872000e+02
            Low     TSLA      1.823700e+02
            Open    TSLA      1.865600e+02
            Volume  TSLA      6.898230e+07
Length: 850, dtype: float64